<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [56]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=944d06364305c2d422cbd385360754fd"  #Make sure to change ******* to your API key.
data = requests.get(url)
data.content

b'{"success":true,"timestamp":1644390542,"base":"EUR","date":"2022-02-09","rates":{"AED":4.194863,"AFN":106.174948,"ALL":121.358803,"AMD":548.047884,"ANG":2.058814,"AOA":596.286214,"ARS":120.842973,"AUD":1.5956,"AWG":2.055976,"AZN":1.955394,"BAM":1.955394,"BBD":2.306697,"BDT":98.215316,"BGN":1.954472,"BHD":0.430525,"BIF":2282.411456,"BMD":1.142051,"BND":1.536537,"BOB":7.85375,"BRL":6.006839,"BSD":1.1424,"BTC":2.6133405e-5,"BTN":85.347083,"BWP":13.260187,"BYN":2.939187,"BYR":22384.190366,"BZD":2.302798,"CAD":1.450576,"CDF":2297.805557,"CHF":1.056009,"CLF":0.034253,"CLP":945.138089,"CNY":7.268919,"COP":4515.530745,"CRC":735.076556,"CUC":1.142051,"CUP":30.264339,"CVE":110.240436,"CZK":24.258869,"DJF":203.384477,"DKK":7.443426,"DOP":65.696499,"DZD":160.724189,"EGP":17.949156,"ERN":17.13078,"ETB":57.280285,"EUR":1,"FJD":2.445582,"FKP":0.831321,"GBP":0.842359,"GEL":3.363311,"GGP":0.831321,"GHS":7.311171,"GIP":0.831321,"GMD":60.471167,"GNF":10395.447155,"GTQ":8.790541,"GYD":238.896769,"HKD":8.899829,"HNL":28.122364,"HRK":7.520518,"HTG":117.918177,"HUF":353.571978,"IDR":16405.213232,"ILS":3.666187,"IMP":0.831321,"INR":85.43166,"IQD":1666.704032,"IRR":48251.634933,"ISK":142.207943,"JEP":0.831322,"JMD":178.818807,"JOD":0.809704,"JPY":131.878857,"KES":129.735137,"KGS":96.836177,"KHR":4647.103498,"KMF":491.252757,"KPW":1027.845655,"KRW":1366.223914,"KWD":0.34522,"KYD":0.95208,"KZT":488.756816,"LAK":13064.218197,"LBP":1727.298309,"LKR":230.769994,"LRD":175.181665,"LSL":17.747765,"LTL":3.372178,"LVL":0.690815,"LYD":5.232586,"MAD":10.659425,"MDL":20.474224,"MGA":4557.974574,"MKD":61.615731,"MMK":2031.232724,"MNT":3264.929643,"MOP":9.170576,"MRO":407.711842,"MUR":50.132877,"MVR":17.6559,"MWK":917.307542,"MXN":23.508185,"MYR":4.779518,"MZN":72.896684,"NAD":17.7476,"NGN":474.944136,"NIO":40.502443,"NOK":10.074142,"NPR":136.55378,"NZD":1.715862,"OMR":0.439645,"PAB":1.142445,"PEN":4.395821,"PGK":4.011853,"PHP":58.685981,"PKR":199.171449,"PLN":4.525365,"PYG":7972.007605,"QAR":4.158237,"RON":4.945538,"RSD":117.608879,"RUB":85.528292,"RWF":1187.279857,"SAR":4.284559,"SBD":9.24747,"SCR":15.366256,"SDG":504.786673,"SEK":10.430091,"SGD":1.53451,"SHP":1.573062,"SLL":12950.852844,"SOS":668.099239,"SRD":23.531383,"STD":23638.140157,"SVC":9.996685,"SYP":2868.830672,"SZL":17.651917,"THB":37.544894,"TJS":12.903025,"TMT":3.997177,"TND":3.265695,"TOP":2.590113,"TRY":15.527888,"TTD":7.752905,"TWD":31.789551,"TZS":2640.420668,"UAH":31.951641,"UGX":4015.405289,"USD":1.142051,"UYU":49.984644,"UZS":12398.058911,"VEF":244204918512.49384,"VND":25930.257258,"VUV":129.818498,"WST":2.983428,"XAF":655.802261,"XAG":0.050716,"XAU":0.000632,"XCD":3.086449,"XDR":0.813315,"XOF":655.84245,"XPF":119.630005,"YER":285.797715,"ZAR":17.547832,"ZMK":10279.831831,"ZMW":21.163404,"ZWL":367.739804}}'

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [34]:
import json
data = json.loads(data.text)

AttributeError: 'dict' object has no attribute 'text'

In [38]:
data["rates"]

{'AED': 4.194863,
 'AFN': 106.174948,
 'ALL': 121.358803,
 'AMD': 548.047884,
 'ANG': 2.058814,
 'AOA': 596.286214,
 'ARS': 120.842973,
 'AUD': 1.5956,
 'AWG': 2.055976,
 'AZN': 1.955394,
 'BAM': 1.955394,
 'BBD': 2.306697,
 'BDT': 98.215316,
 'BGN': 1.954472,
 'BHD': 0.430525,
 'BIF': 2282.411456,
 'BMD': 1.142051,
 'BND': 1.536537,
 'BOB': 7.85375,
 'BRL': 6.006839,
 'BSD': 1.1424,
 'BTC': 2.6133405e-05,
 'BTN': 85.347083,
 'BWP': 13.260187,
 'BYN': 2.939187,
 'BYR': 22384.190366,
 'BZD': 2.302798,
 'CAD': 1.450576,
 'CDF': 2297.805557,
 'CHF': 1.056009,
 'CLF': 0.034253,
 'CLP': 945.138089,
 'CNY': 7.268919,
 'COP': 4515.530745,
 'CRC': 735.076556,
 'CUC': 1.142051,
 'CUP': 30.264339,
 'CVE': 110.240436,
 'CZK': 24.258869,
 'DJF': 203.384477,
 'DKK': 7.443426,
 'DOP': 65.696499,
 'DZD': 160.724189,
 'EGP': 17.949156,
 'ERN': 17.13078,
 'ETB': 57.280285,
 'EUR': 1,
 'FJD': 2.445582,
 'FKP': 0.831321,
 'GBP': 0.842359,
 'GEL': 3.363311,
 'GGP': 0.831321,
 'GHS': 7.311171,
 'GIP': 0.831321,
 'GMD': 60.471167,
 'GNF': 10395.447155,
 'GTQ': 8.790541,
 'GYD': 238.896769,
 'HKD': 8.899829,
 'HNL': 28.122364,
 'HRK': 7.520518,
 'HTG': 117.918177,
 'HUF': 353.571978,
 'IDR': 16405.213232,
 'ILS': 3.666187,
 'IMP': 0.831321,
 'INR': 85.43166,
 'IQD': 1666.704032,
 'IRR': 48251.634933,
 'ISK': 142.207943,
 'JEP': 0.831322,
 'JMD': 178.818807,
 'JOD': 0.809704,
 'JPY': 131.878857,
 'KES': 129.735137,
 'KGS': 96.836177,
 'KHR': 4647.103498,
 'KMF': 491.252757,
 'KPW': 1027.845655,
 'KRW': 1366.223914,
 'KWD': 0.34522,
 'KYD': 0.95208,
 'KZT': 488.756816,
 'LAK': 13064.218197,
 'LBP': 1727.298309,
 'LKR': 230.769994,
 'LRD': 175.181665,
 'LSL': 17.747765,
 'LTL': 3.372178,
 'LVL': 0.690815,
 'LYD': 5.232586,
 'MAD': 10.659425,
 'MDL': 20.474224,
 'MGA': 4557.974574,
 'MKD': 61.615731,
 'MMK': 2031.232724,
 'MNT': 3264.929643,
 'MOP': 9.170576,
 'MRO': 407.711842,
 'MUR': 50.132877,
 'MVR': 17.6559,
 'MWK': 917.307542,
 'MXN': 23.508185,
 'MYR': 4.779518,
 'MZN': 72.896684,
 'NAD': 17.7476,
 'NGN': 474.944136,
 'NIO': 40.502443,
 'NOK': 10.074142,
 'NPR': 136.55378,
 'NZD': 1.715862,
 'OMR': 0.439645,
 'PAB': 1.142445,
 'PEN': 4.395821,
 'PGK': 4.011853,
 'PHP': 58.685981,
 'PKR': 199.171449,
 'PLN': 4.525365,
 'PYG': 7972.007605,
 'QAR': 4.158237,
 'RON': 4.945538,
 'RSD': 117.608879,
 'RUB': 85.528292,
 'RWF': 1187.279857,
 'SAR': 4.284559,
 'SBD': 9.24747,
 'SCR': 15.366256,
 'SDG': 504.786673,
 'SEK': 10.430091,
 'SGD': 1.53451,
 'SHP': 1.573062,
 'SLL': 12950.852844,
 'SOS': 668.099239,
 'SRD': 23.531383,
 'STD': 23638.140157,
 'SVC': 9.996685,
 'SYP': 2868.830672,
 'SZL': 17.651917,
 'THB': 37.544894,
 'TJS': 12.903025,
 'TMT': 3.997177,
 'TND': 3.265695,
 'TOP': 2.590113,
 'TRY': 15.527888,
 'TTD': 7.752905,
 'TWD': 31.789551,
 'TZS': 2640.420668,
 'UAH': 31.951641,
 'UGX': 4015.405289,
 'USD': 1.142051,
 'UYU': 49.984644,
 'UZS': 12398.058911,
 'VEF': 244204918512.49384,
 'VND': 25930.257258,
 'VUV': 129.818498,
 'WST': 2.983428,
 'XAF': 655.802261,
 'XAG': 0.050716,
 'XAU': 0.000632,
 'XCD': 3.086449,
 'XDR': 0.813315,
 'XOF': 655.84245,
 'XPF': 119.630005,
 'YER': 285.797715,
 'ZAR': 17.547832,
 'ZMK': 10279.831831,
 'ZMW': 21.163404,
 'ZWL': 367.739804}

In [48]:
# Turn the data into a dataframe
rates_data = pd.DataFrame(data)

rates_data

     success   timestamp base        date         rates
AED     True  1644390542  EUR  2022-02-09      4.194863
AFN     True  1644390542  EUR  2022-02-09    106.174948
ALL     True  1644390542  EUR  2022-02-09    121.358803
AMD     True  1644390542  EUR  2022-02-09    548.047884
ANG     True  1644390542  EUR  2022-02-09      2.058814
..       ...         ...  ...         ...           ...
YER     True  1644390542  EUR  2022-02-09    285.797715
ZAR     True  1644390542  EUR  2022-02-09     17.547832
ZMK     True  1644390542  EUR  2022-02-09  10279.831831
ZMW     True  1644390542  EUR  2022-02-09     21.163404
ZWL     True  1644390542  EUR  2022-02-09    367.739804

[168 rows x 5 columns]

In [50]:
# Drop unnescessary columns
rates_data = rates_data.drop(columns = ["success","timestamp","base","date"])

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [54]:
# Save the Dataframe
rates_data.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).