<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
# !wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
# !wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
# !wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

## Since I was not able to create an IBM Watson account I have fetched the data on my own.
## There was some issue with the payment

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
fileJSON = glob.glob("*.json")

In [6]:
columns=['Name','Market Cap (US$ Billion)']

In [7]:
def extract():
    bankMarketCapDF = pd.DataFrame(extract_from_json(fileJSON[0]), columns = columns)
    return bankMarketCapDF

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [8]:
# Write your code here
def exchangeData(exchangeRatesDF): 
    exchangeRatesDF = pd.read_csv("exchange_rates_1.csv",index_col=0)
    exchange_rate = exchangeRatesDF[exchangeRatesDF.index.str.startswith('GBP')]["rates"]
    exchange_rate = exchange_rate.astype(str).astype(float)
    return exchange_rate

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [9]:
def transform(exchange_rate, bankMarketCap):
    rate = exchange_rate/1.142051
    print(rate)
    bankMarketCap["Market Cap (US$ Billion)"] = bankMarketCap.apply(lambda row : (row['Market Cap (US$ Billion)']*rate), axis = 1)
    bankMarketCap = bankMarketCap.round(3)
    bankMarketCap = bankMarketCap.rename(columns = {"Name":"Name","Market Cap (US$ Billion)": "Market Cap (GBP Billion)"})
    return bankMarketCap

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [10]:
def load(bankMarketCap):
    bankMarketCap.to_csv("bank_market_cap_gbp.csv",index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [11]:
def log(message):
    formatTimestamp = "%Y-%h-%d-%H-%M-%S"
    now = datetime.now()
    timestamp = now.strftime(formatTimestamp)
    with open("logfile.txt","a") as file:
        file.write(message + " : "+timestamp+"\n")

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [12]:
# Write your code here
log("ETL Job Started")
log("Extract Phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [13]:
# Call the function here
extractDF = extract()
# Print the rows here
extractDF.head(5)

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                    368.78
1   Industrial and Commercial Bank of China                    295.65
2                           Bank of America                    279.73
3                               Wells Fargo                    214.34
4                   China Construction Bank                    207.98

Log the data as <code>"Extract phase Ended"</code>

In [14]:
# Write your code here
log("Extract phase Ended")

rate = exchangeData(extractDF)

### Transform

Log the following  <code>"Transform phase Started"</code>

In [15]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [16]:
# Call the function here
transformDF = transform(rate,extractDF )
# Print the first 5 rows here
transformDF.head(5)

GBP    0.737584
Name: rates, dtype: float64

                                       Name  Market Cap (GBP Billion)
0                            JPMorgan Chase                   272.006
1   Industrial and Commercial Bank of China                   218.067
2                           Bank of America                   206.324
3                               Wells Fargo                   158.094
4                   China Construction Bank                   153.403

Log your data <code>"Transform phase Ended"</code>

In [17]:
# Write your code here
log("Transform Phase Ended")

### Load

Log the following `"Load phase Started"`.

In [18]:
# Write your code here
log("Load phase Started")

Call the load function

In [19]:
# Write your code here
load(transformDF)

Log the following `"Load phase Ended"`.

In [20]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).